*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Quicksand', sans-serif;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: black;
}

#time {
    font-size: 8rem;
}
h1{
    margin-bottom: 1rem;
}
h2{
    margin-bottom: 0.5rem;
    opacity: 0.6;
}
#name{
    font-size:3rem;
   font-weight: bolder;
}
#greeting{
    font-size: 5rem;
    font-style: italic;
    background-color: azure;
    padding: 20px;
    border: 10px solid gray;
}
@media(max-width: 700px) {
#time{
    font-size: 6rem;
}
}